<!doctype html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/output.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />

    <!-- JavaScript -->
    <script src="/js/signin.js" defer></script>

    <title>VLC OneKey</title>

    <!-- More Meta Tags -->
    <meta property="og:title" content="VLC OneKey" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://vlconekey.com/" />
    <meta property="og:image" content="/images/OneKey_Banner.png" />
    <meta
      property="og:description"
      content="VLC OneKey is the most secure and effective way of verifying VLC students on Discord. 

VLC OneKey is student-built and not school-sanctioned, and is not in any way affiliated with or endorsed by the VLC. The VLC name, logo, and all other branding are property of the Virtual Learning Center."
    />
    <meta name="theme-color" content="#2196F3" />
    <meta name="twitter:card" content="summary_large_image" />

    <!-- Favicon -->
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
  </head>

  <body
    class="flex min-h-screen items-center justify-center bg-[#2c2f33] text-white"
  >
    <main class="flex w-96 flex-col gap-6 font-bold">
      <img src="/images/OneKey_Wordmark.png" alt="VLC OneKey" />
      <article
        class="flex h-[19rem] flex-col justify-center gap-4 rounded-3xl bg-[#2196f3] p-8 text-center"
      >
        <p id="header">
          Sign in with your Discord account, and then verify your VLC Gmail.
        </p>
        <div class="flex flex-col gap-8" id="verify_container">
          <a href="<%= authUrl %>">
            <button
              class="flex h-[4.5rem] w-full justify-center rounded-2xl bg-[#2c2f33] py-4"
            >
              <img
                src="/images/discord.png"
                alt="Discord"
                class="h-full w-auto text-3xl"
              />
            </button>
          </a>
          <button
            class="flex h-[4.5rem] w-full justify-center rounded-2xl bg-[#2c2f33] py-4"
            disabled
          >
            <img
              src="/images/google.png"
              alt="Google"
              class="h-full w-auto text-3xl"
            />
          </button>
        </div>
        <form
          class="hidden h-full flex-col justify-around"
          id="google_container"
          onsubmit="emailSubmit(event)"
        >
          <input
            class="w-full rounded-2xl bg-[#2c2f33] px-8 py-6 text-white outline-none"
            type="email"
            name="email"
            placeholder="tljdoe123@virtuallearning.ca"
            required
          />
          <button class="rounded-2xl bg-[#2c2f33] px-4 py-3" type="submit">
            Send Code
          </button>
        </form>
        <form
          class="hidden h-full flex-col justify-around"
          id="code_container"
          onsubmit="codeSubmit(event)"
        >
          <div class="w-full">
            <input
              type="tel"
              class="code_input"
              minlength="1"
              maxlength="1"
              required
            />
            <input
              type="tel"
              class="code_input"
              minlength="1"
              maxlength="1"
              required
            />
            <input
              type="tel"
              class="code_input"
              minlength="1"
              maxlength="1"
              required
            />
            <input
              type="tel"
              class="code_input"
              minlength="1"
              maxlength="1"
              required
            />
            <input
              type="tel"
              class="code_input"
              minlength="1"
              maxlength="1"
              required
            />
            <input
              type="tel"
              class="code_input"
              minlength="1"
              maxlength="1"
              required
            />
          </div>
          <button class="rounded-2xl bg-[#2c2f33] px-4 py-3" type="submit">
            Verify
          </button>
        </form>
      </article>
      <div class="hidden rounded-2xl bg-[#db3236] px-8 py-6" id="error-card">
        <p id="error"></p>
      </div>
    </main>
  </body>
</html>
